html, body {
  margin: 0;
  padding: 0;
  background: #fd895a;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
canvas {
  display: block;
}
h1{
 color: white; 
}
h2{
  color: rgb(89, 14, 1);
}
.cover{
  margin-left: 75px;
  border-style: double; 
  border-width: 5;
  border-color: white;
  
  float: left;
  width: 400;
}
.summary{
  border-style: solid; 
  border-width: 4;
  border-color: white;
  background-color: #ffefe8;
  
  float: right;
  width: 60%;
  margin-right: 25px;
  margin-top: -100;
}
#bigImage{
  width= 1000;
  margin-left = 5;
}
.dark{
  font-size: 16;
  colour: rgb(89, 14, 1);
}
